
@model List<Course>
 
@foreach ( Course course in Model)
{
     <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a asp-controller="course" asp-action="details" asp-route-id="@course.Id"><img src="~/Assets/img/course/@course.CourseImage" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="course" asp-action="details" asp-route-id="@course.Id">@course.CourseName</a></h3>
                            @if(course.Description.Length>25){
                                <p>@course.Description.Substring(0,25)...</p>
                            }
                            else{
                                <p>@course.Description.Substring(0,25)...</p>
                            }
                            <a asp-controller="course" asp-action="details" asp-route-id="@course.Id">read more</a>
                        </div>   
                    </div>
                </div>
}



