
@model Course
@{
    ViewData["Title"] = "Create";
    List<Category> categories = (List<Category>)ViewBag.Categories;
    List<Tag> tags = (List<Tag>)ViewBag.Tags;
}

@section CSS{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

}
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Price">Price</label>
            <input type="text" asp-for="@Model.Price" class="form-control" id="Price" placeholder="Price">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CourseName">Course Name</label>
            <textarea asp-for="@Model.CourseName" class="form-control" id="Subtitle" rows="3"></textarea>
            <span asp-validation-for="@Model.CourseName" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="@Model.Description">Description</label>
            <textarea asp-for="@Model.Description" class="form-control" id="Subtitle" rows="3"></textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.AboutCourseInfo">About</label>
            <input asp-for="@Model.AboutCourseInfo" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.AboutCourseInfo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HowToApplyInfo">HowToApply</label>
            <input asp-for="@Model.HowToApplyInfo" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.HowToApplyInfo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CertificationInfo">Certification</label>
            <input asp-for="@Model.CertificationInfo" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.CertificationInfo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.CategoryId">Category</label>
            <select class="form-control" asp-for="@Model.CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
            </select>
        </div>
        
        <div class="form-group col-md-3">
            <label asp-for="@Model.TagIds">Tags</label>
            <select class="form-control" asp-for="@Model.TagIds" asp-items="@(new SelectList(tags,"Id","Name"))">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CourseImgFile">ImageFile</label>
            <input asp-for="@Model.CourseImgFile" accept="image/*" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.CourseImgFile" class="text-danger"></span>
        </div>


 <div class="form-row col-12" id="features">
            @{ int count = 0;
                @foreach (var item in Model.CourseFeatures)
                {
                    <div class="form-group col-12">
                        <label for="featureName">Feature name</label>
                        <input name="CourseFeatures[@count].Name" type="text" value="@item.Name" class="deleting" />
                        <span class="text-danger"></span>

                        <label for="featureValue"> Feature Value</label>
                        <input name="COurseFeatures[@count].Value" type="text" value="@item.Value" class="deleting" />
                        <span class="text-danger"></span>
                        <span><i class="fas fa-minus delete-feature"> </i></span>

                    </div>
                    count++;
                }
            }
        </div>

        <div class="form-row justify-content-center">
            <div class="form-group">
                <button data-nextIndex="@Model.CourseFeatures.Count()" class="add-feature btn btn-primary">+</button>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>



@section Scripts{
    <script>
      $(document).ready(function () {
        $(document).on("click", ".add-feature", function (e) {
            e.preventDefault();
            var nextIndex = $(this).attr("data-nextIndex");
            var inputGroup = ` <div class="form-group col-12" data-index="0">
                <label for="featureName">Feature name</label>
                <input name="CourseFeatures[`+ nextIndex+`].Name" type="text" />
                <span class="text-danger"></span>
                <label for="featureValue"> Feature value</label>
                <input name="CourseFeatures[`+ nextIndex+`].Value" type="text" />
                <span class="text-danger"></span>
                <span><i class="fas fa-minus delete-feature"> </i></span>
            </div>`
            $("#features").append($(inputGroup))
            nextIndex = +nextIndex + 1;
            console.log(nextIndex)
            $(this).attr("data-nextIndex", nextIndex)
        })
        $(document).on("click", ".delete-feature", function (e) {
            e.preventDefault();
            console.log("test");
            $(this).parents(".form-group").empty();
        })
    })

        for (var i = 0; i < document.getElementsByClassName("delete-feature").length; i++) {

            document.getElementsByClassName("delete-feature")[i].onclick = function (e) {
                e.preventDefault();
                this.parentElement.parentElement.innerHTML = null;
                
                for (var z = 0; z < document.getElementsByClassName("deleting").length; z += 2) {
                    var count = 0;
                    for (var t = 0; t < 2; t++) {
                        var name = "CourseFeatures[" + (z / 2) + "].Name";
                        var value = "COurseFeatures[" + (z / 2) + "].Value";
                        document.getElementsByClassName("deleting")[z].setAttribute("name", name);
                        document.getElementsByClassName("deleting")[z + 1].setAttribute("name", value);
                        count++;
                    }
                }
            }
        }

    </script>
}



