@model BlogVM
@{
    ViewData["Title"] = "Index";

    var controller = ViewContext.RouteData.Values["controller"].ToString();

}


<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog / right side bar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row" id="Old-Blogs">

                    @await Html.PartialAsync("_BlogPartialView",Model.Blogs)


                </div>
                <div class="row" id="New-Blogs">
                </div>
                <div class="row justify-content-center mt-4" id="pag">
                    <nav aria-label="...">
                        <ul class="pagination">

                            <li class="page-item @(ViewBag.Currentpage == 1 ? "disabled" : "")">
                                <a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                            </li>

                            @for (int i = 1; i <= ViewBag.TotalPage; i++)
                            {
                                <li class="page-item  @(ViewBag.CurrentPage == i ? "active" : "")" style="pointer-events: @(ViewBag.CurrentPage == i ? "none" : "")"><a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@i">@i</a></li>
                            }

                            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
                                <a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form asp-action="index" asp-controller="blog" method="get">
                                <input type="search" placeholder="Search..." id="Blog-Search" name="key" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/Assets/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (Blog blog in ViewBag.LastestBlogs as List<Blog>)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a href="blog-details.html">
                                        <img style="width:95px; height:84px;" src="~/Assets/img/blog/@blog.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4>
                                        <a href="blog-details.html">
                                            @blog.Title
                                            
                                        </a>
                                    </h4>
                                    <p>By Alex  / @blog.Date.ToString("MMMM dd,yyyy") </p>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog End -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>subscribe our newsletter</h2>
                    <p>I must explain to you how all this mistaken idea </p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->
@section Scripts{
@*<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
*@
<script>
                    $(document).on('keyup', `#Blog-Search`, function () {

        $("#New-Blogs").empty()
        if ($(this).val().length > 0) {
            $.ajax({
                url: `/Blog/Search`,
                data: {
                    "searching": $(this).val(),
                },
                type: "Get",
                success: function (res) {

                    $("#Old-Blogs").css("display", "none")
                    $("#pag").css("display", "none")

                    $("#New-Blogs").append(res)

                }
            })
        }
        else {
            $("#Old-Blogs").css("display", "block")

        }

    })
</script>

}