@model EventDetailVM
@{
    ViewData["Title"] = "Details";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img style="width:100%;" src="~/Assets/img/event/@Model.Event.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.Event.Date.ToString("dd") <span>@Model.Event.Date.ToString("MMMM").Substring(0,3)</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Event.Title</h2>
                        <ul>
                            <li><span>time : </span>@Model.Event.StartTime.ToString("HH:mm") - @Model.Event.FinishTime.ToString("HH:mm")</li>
                            <li><span>venue : </span>@Model.Event.Venue</li>
                        </ul>
                        <p>@Model.Event.Description</p>
                        <p>@Model.Event.Description</p>

                        <p>@Model.Event.Description</p>

                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                           @foreach (var item in Model.Speakers)
                           {
                                <div class="single-speaker">
                                <div class="speaker-img">
                                    <img src="~/Assets/img/event/@item.Image" alt="speaker">
                                </div>
                                <div class="speaker-name">
                                    <h5>@item.Name  @item.Surname</h5>
                                    <p>CEO, Hastech </p>
                                </div>
                            </div>
                            
                           }
                        </div>
                    </div>
                    <div class="reply-area">
                       @foreach (var comment in Model.Comments.Where(f => f.IsAccess == true).OrderBy(f => f.Date))
                                    {
                                        if (comment.AppUser.UserName == User.Identity.Name)
                                        {

                                            <div class="bg-white p-2">
                                                <div class="d-flex flex-row user-info">
                                                    <img class="rounded-circle" src="~/Assets/img/blog/images.png" width="40">
                                                    <div class="d-flex flex-column justify-content-start ml-2">
                                                        <span class="d-block font-weight-bold name">@comment.AppUser.Name @comment.AppUser.Surname</span>
                                                        <span class="date text-black-50">Shared publicly - @comment.Date.ToString("dd MMMM yyyy HH:mm")</span>
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <p class="comment-text">@comment.Message</p>
                                                </div>
                                                <a asp-action="DeleteComment" asp-route-id="@comment.Id" class="text-danger">Delete</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="bg-white p-2">
                                                <div class="d-flex flex-row user-info">
                                                    <img class="rounded-circle" src="~/Assets/img/blog/images.png" width="40">
                                                    <div class="d-flex flex-column justify-content-start ml-2">
                                                        <span class="d-block font-weight-bold name">@comment.AppUser.Name @comment.AppUser.Surname</span>
                                                        <span class="date text-black-50">Shared publicly - @comment.Date.ToString("dd MMMM yyyy HH:mm")</span>
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <p class="comment-text">@comment.Message</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                                    <form class="bg-light p-2" asp-action="AddComment" method="post">
                                        <div class="d-flex flex-row align-items-start">
                                            <textarea class="form-control ml-1 shadow-none textarea" name="Message"></textarea>
                                            <input type="hidden" name="EventId" value="@Model.Event.Id" />
                                        </div>
                                        <div class="mt-2 text-right">
                                            <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>

                                        </div>
                                    </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/Assets/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>

                        @foreach (Blog blog in ViewBag.LastestBlogs as List<Blog>)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id">
                                        <img style="width:95px; height:84px;" src="~/Assets/img/blog/@blog.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id">@blog.Title</a></h4>
                                    <p>By Alex  / @blog.Date.ToString("MMMM dd,yyyy") </p>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>subscribe our newsletter</h2>
                    <p>I must explain to you how all this mistaken idea </p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->